body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 51px;
}

header img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.align {
    position: absolute;
    text-align: center;
}

.button {
    margin-left: 250px;
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.btn {
    background-color: #ddd;
    border: 1px solid black color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #eb1269;
    color: white;
    display: inline-block;
}

.size {
    width: 500px;
    padding-top: 30px;
}

.posion {
    text-align: center;
}

.butt {
    text-align: center;
}

.sbutton {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

#xs {
    text-align: center;
}

#fd {
    text-align: center;
}

.container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    padding-left: 10px;
    padding-right: 10px;
}

.sizing {
    display: flex;
}

.sizing img {
    width: 600px;
    margin-left: 70px;
    height: 300px;
}

.bg-color {}

.color {
    background: #eb1269;
}

.justy {
    text-align: center;
}

.foot {
    text-align: center;
    background-color: black;
    justify-content: center;
    height: 130px;
}

#fut {
    color: #FF5959;
    padding-top: 30px;
    font-family: 'Lobster' !important;
}

.dance {
    color: white;
}